*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// red #e74c3c
// light-red #eb685a
//dark-red #e3301e

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777777;
	padding: 30px;
}

header{
	position: relative;
	height: 95vh;
	background: linear-gradient(to right  bottom,
	rgba(231, 77, 60, 0.7)
	,rgba(227, 46, 30, 0.7) ),url(../img/hero.jpg) top;
	background-size: cover;
	clip-path: polygon( 0% 0%, 100% 0,  100% 75vh,  0 100%);

	
	
	.logo_box{
		position: absolute;
		top: 40px;
		left: 40px;
		.logo{
			height: 35px;
			
		}
  }
  .text_box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    .heading_primary{
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 60px;
      
      .heading_primary_main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: .8s;
        animation-timing-function: ease-in-out;
        /* other properties 
        
        animation-delay: 4s;
        animation-iteration-count: 30;

        */
      }
      
      .heading_primary_sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17px;
        animation: moveInRight .8s ease-in-out;
      }

      @keyframes moveInLeft{
        0%{
          opacity: 0;
          transform: translateX(-100px);
        }
    
        80%{
    
          transform: translateX(20px);
        }
        
        100%{
          opacity: 1;
          
          transform: translateX(0);
        }
    
      }/* moveInLeft */
    
      @keyframes moveInRight{
        0%{
          opacity: 0;
          transform: translateX(100px);
        }
    
        80%{
    
          transform: translateX(-20px);
        }
        
        100%{
          opacity: 1;
          
          transform: translateX(0);
        }
    
      }/* moveInRight */
    
      @keyframes moveInBottom{
        0%{
          opacity: 0;
          transform: translateY(30px);
        }
    
        
        100%{
          opacity: 1;
          
          transform: translateY(0);
        }
    
      }/* moveInRight */

    }/* heading_primary */

    .btn{
    
    &:link, &:visited{
      border-radius: 100px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px 40px;
      transition: all 0.2s;
      position: relative;
    }

    &:hover{
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0,0,0,0.6)
    }
    
    &:active{
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0,0,0,0.4)
    }

    &::after{
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.5s;
    }
  }

    .btn_white{
      background: #fff;
      color: #777777;

      &::after{
        background: #fff;
      }

      &:hover::after{
        transform: scale(1.5,1.8);
        opacity: 0;
      }

      
    }

    .btn_animated{
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }

  }/* text_box */
    

}/* header */
	


